# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.iml

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Flutter generated
**/ios/Flutter/.last_build_id

# Laravel
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/bootstrap/cache/*.php
.env
.env.*
!.env.example

# Logs
*.log